<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0 " />
    <title>Evaluate news articles</title>
</head>

<body>
    <header>
        <h1>Sentimental Analysis on Websites</h1>
    </header>

    <main>
        <section>
            <form onsubmit="return Client.handleSubmitButton(event)">
                <input type="text" id="url" placeholder="http://" />
                <input type="submit" id="submit" onclick="return Client.handleSubmitButton(event)" onsubmit="return Client.handleSubmitButton(event)" />
            </form>
        </section>

        <section>
            <article>
                <h1 id="score"></h1>
                <div id="img"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </article>
        </section>
    </main>

    <footer>
        <p>@ Copyright Nicholas Alexander McNeil</p>
    </footer>
    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", () => {
                navigator.serviceWorker.register("/service-worker.js");
            });
        }
    </script>
</body>

</html>